<!DOCTYPE html>
<html lang="en">

<head>

<meta charset="UTF-8">
<meta name="viewport"
content="width=device-width, initial-scale=1.0">

<title>My Account</title>

<link rel="stylesheet"
href="{{ url_for('static', filename='css/style.css') }}">

<link rel="stylesheet"
href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css">

</head>

<body>

<header class="topbar">

<a href="/dashboard" class="back-btn">
← Back
</a>

<h2>My Account</h2>

</header>

<div class="page-content">

<div class="deposit-card">

<div class="balance-display">

{{ currency }} {{ balance }}

</div>

<p>{{ phone }}</p>

</div>

<div class="deposit-card">

<a href="/my_bets" class="account-item">
<i class="fa-solid fa-ticket"></i>
<span>My Bets</span>
<i class="fa-solid fa-chevron-right"></i>
</a>

<a href="/deposit" class="account-item">
<i class="fa-solid fa-wallet"></i>
<span>Deposit</span>
<i class="fa-solid fa-chevron-right"></i>
</a>

<a href="/withdraw" class="account-item">
<i class="fa-solid fa-money-bill-transfer"></i>
<span>Withdraw</span>
<i class="fa-solid fa-chevron-right"></i>
</a>

<a href="/logout" class="account-item">
<i class="fa-solid fa-right-from-bracket"></i>
<span>Logout</span>
<i class="fa-solid fa-chevron-right"></i>
</a>

</div>

</div>

</body>

</html>
