<!DOCTYPE html>
<html lang="en">
<head>

<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<title>BetNova</title>
<link rel="stylesheet"
href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css">

<link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='css/dashboard.css') }}">

</head>

<header class="top-bar">

    <a href="/dashboard" class="logo">
        <img src="{{ url_for('static', filename='images/logo.png') }}">
    </a>

    <div class="wallet-section">
        <div class="balance-box">
            <span id="balance">{{ currency }} {{ balance }}</span>

            <button id="toggle-balance">
                <i class="fa-solid fa-eye"></i>
            </button>
        </div>

        <a href="/deposit" class="deposit-btn">
            Deposit
        </a>
    </div>

</header>

<div class="promo-bar">
    🎁 Upto 50% Deposit Bonus • BetNova Promotions
</div>

<section class="search-area">
    <input
        type="text"
        id="matchSearch"
        placeholder="Search matches..."
    >
</section>
        
<!-- Sports -->
<div class="sports-tabs">
    <button class="active">⚽ Football</button>
    <button>🏀 Basketball</button>
    <button>🎾 Tennis</button>
    <button>🏐 Volleyball</button>
    <button>🏏 Cricket</button>
    <button>🎮 eSports</button>
</div>

<!-- Leagues -->
<div class="league-tabs">
    <button class="active">Premier League</button>
    <button>La Liga</button>
    <button>Serie A</button>
    <button>Bundesliga</button>
    <button>Ligue 1</button>
</div>

{% for match in matches %}

<div class="match-card">

    <div class="match-header">
        <span>{{ match.league }}</span>
        <span>{{ match.time }}</span>
    </div>

    <h3>{{ match.home }} vs {{ match.away }}</h3>

    <button class="odd"
onclick="addToBet(
'{{ match.id }}',
'{{ match.home }} vs {{ match.away }}',
'Match Winner',
'Home',
'{{ match.home_odds }}'
)">
    <span>1</span>
    <strong>{{ match.home_odds }}</strong>
</button>

<button class="odd"
onclick="addToBet(
'{{ match.id }}',
'{{ match.home }} vs {{ match.away }}',
'Match Winner',
'Draw',
'{{ match.draw_odds }}'
)">
    <span>X</span>
    <strong>{{ match.draw_odds }}</strong>
</button>

<button class="odd"
onclick="addToBet(
'{{ match.id }}',
'{{ match.home }} vs {{ match.away }}',
'Match Winner',
'Away',
'{{ match.away_odds }}'
)">
    <span>2</span>
    <strong>{{ match.away_odds }}</strong>
</button>

    ...

    <a href="/match/{{ match.id }}" class="markets-btn">
        +85 Markets
    </a>

</div>

{% endfor %}

</div>

</section>


</div>

</div>

<nav class="bottom-nav">

    <a href="/dashboard" class="nav-item active">
        <i class="fa-solid fa-house nav-icon"></i>
        <span class="nav-text"
        data-lang="home">Home</span>
    </a>

    <a href="/dashboard" class="nav-item">
        <i class="fa-solid fa-futbol nav-icon"></i>
        <span class="nav-text" 
        data-lang="sports">Sports</span>
    </a>

    <a href="/betslip" class="nav-item betslip-nav">
    <div class="bet-icon-wrapper">
        <i class="fa-solid fa-ticket nav-icon"></i>
        <span id="bet-count" class="bet-badge">0</span>
    </div>

    <span class="nav-text" 
    data-lang="betslip">Bet Slip</span>
</a>


    <a href="/account" class="nav-item">
        <i class="fa-solid fa-user nav-icon"></i>
        <span class="nav-text"
        data-lang="account">Account</span>
    </a>

</nav>

<script src="{{ url_for('static', filename='js/language.js') }}"></script>
<script src="{{ url_for('static', filename='js/script.js') }}"></script>
<script src="{{ url_for('static', filename='js/dashboard.js') }}"></script>

</body>
</html>