<!DOCTYPE html>
<html lang="en">
<head>

<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<title>BetNova</title>
<link rel="stylesheet"
href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css">

<link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='css/dashboard.css') }}">

</head>

<header class="topbar">

    <button class="menu-btn">
        <i class="fas fa-bars"></i>
    </button>

    <div class="logo">
        <img src="{{ url_for('static', filename='images/logo.png') }}" alt="BetNova">
    </div>

    <div class="wallet-box">
        <div class="wallet-balance">
            KSh {{ balance if balance else "0.00" }}
        </div>

        <a href="/deposit" class="deposit-btn">
            Deposit
        </a>
    </div>

</header>

<section class="promo-banner">
    <p>🎁 Welcome Bonus • BetNova Promotions</p>
</section>

<section class="search-area">
    <input
        type="text"
        id="matchSearch"
        placeholder="Search matches..."
    >
</section>
        
<button onclick="filterSport('Football')">Football</button>

<button onclick="filterSport('Basketball')">Basketball</button>

<button onclick="filterSport('Tennis')">Tennis</button>

<button onclick="filterSport('Volleyball')">Volleyball</button>

<button onclick="filterSport('Cricket')">Cricket</button>

<button onclick="filterSport('eSports')">eSports</button>

<section class="leagues">

    <button onclick="filterLeague('Premier League')">Premier League</button>

<button onclick="filterLeague('La Liga')">La Liga</button>

<button onclick="filterLeague('Serie A')">Serie A</button>

<button onclick="filterLeague('Bundesliga')">Bundesliga</button>

<button onclick="filterLeague('Ligue 1')">Ligue 1</button>
</section>


<section class="matches-list">

{% for match in matches %}

<div class="match-card">

    <div class="match-time">
        {{ match[4].strftime("%H:%M") }} • {{ match[4].strftime("%a %d/%m") }}
    </div>

    <div class="teams">
        <span class="home-team">{{ match[2] }}</span>
        <span class="vs">vs</span>
        <span class="away-team">{{ match[3] }}</span>
    </div>

    <div class="league">
        {{ match[1] }}
    </div>

    <div class="markets">

      <button class="odd-btn"
onclick="addToBet(
'{{ match[0] }}',
'{{ match[2] }} vs {{ match[3] }}',
'1X2',
'Home',
'{{ match[5] }}'
)">
<div class="market-name">1</div>
<div class="market-odd">{{ match[5] }}</div>
</button>

<button class="odd-btn"
onclick="addToBet(
'{{ match[0] }}',
'{{ match[2] }} vs {{ match[3] }}',
'1X2',
'Draw',
'{{ match[6] }}'
)">
<div class="market-name">X</div>
<div class="market-odd">{{ match[6] }}</div>
</button>

<button class="odd-btn"
onclick="addToBet(
'{{ match[0] }}',
'{{ match[2] }} vs {{ match[3] }}',
'1X2',
'Away',
'{{ match[7] }}'
)">
<div class="market-name">2</div>
<div class="market-odd">{{ match[7] }}</div>
</button>

    

        <a href="/match/{{ match[0] }}" class="more-btn">
            +66
        </a>

    </div>

</div>

{% endfor %}

</section>


</div>

<nav class="bottom-nav">

    <a href="/dashboard" class="nav-item active">
        <i class="fa-solid fa-house nav-icon"></i>
        <span class="nav-text"
        data-lang="home">Home</span>
    </a>

    <a href="/dashboard" class="nav-item">
        <i class="fa-solid fa-futbol nav-icon"></i>
        <span class="nav-text" 
        data-lang="sports">Sports</span>
    </a>

    <a href="/betslip" class="nav-item betslip-nav">
    <div class="bet-icon-wrapper">
        <i class="fa-solid fa-ticket nav-icon"></i>
        <span id="bet-count" class="bet-badge">0</span>
    </div>

    <span class="nav-text" 
    data-lang="betslip">Bet Slip</span>
</a>


    <a href="/account" class="nav-item">
        <i class="fa-solid fa-user nav-icon"></i>
        <span class="nav-text"
        data-lang="account">Account</span>
    </a>

</nav>

<script src="{{ url_for('static', filename='js/language.js') }}"></script>
<script src="{{ url_for('static', filename='js/script.js') }}"></script>
<script src="{{ url_for('static', filename='js/dashboard.js') }}"></script>

</body>
</html>