<!DOCTYPE html>
<html lang="en">
<head>

<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<title>BetNova</title>
<link rel="stylesheet"
href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css">

<link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='css/dashboard.css') }}">

</head>

<header class="top-bar">

    <a href="/dashboard" class="logo">
        <img src="{{ url_for('static', filename='images/logo.png') }}">
    </a>

    <div class="wallet-section">
        <div class="balance-box">
            <span id="balance">{{ currency }} {{ balance }}</span>

            <button id="toggle-balance">
                <i class="fa-solid fa-eye"></i>
            </button>
        </div>

        <a href="/deposit" class="deposit-btn">
            Deposit
        </a>
    </div>

</header>

<div class="promo-bar">
    🎁 Upto 50% Deposit Bonus • BetNova Promotions
</div>

<section class="search-area">
    <div class="search-box">
        <i class="fa-solid fa-magnifying-glass"></i>
        <input
            type="text"
            id="matchSearch"
            placeholder="Search matches, teams or leagues..."
        >
    </div>
</section>
        
<section class="sports-tabs">

    <button class="sport active">
        ⚽ Football
    </button>

    <button class="sport">
        🏀 Basketball
    </button>

    <button class="sport">
        🎾 Tennis
    </button>

    <button class="sport">
        🏐 Volleyball
    </button>

    <button class="sport">
        🏏 Cricket
    </button>

    <button class="sport">
        🎮 eSports
    </button>

    <button class="sport">
        🎰 Casino
    </button>

</section>

<section class="match-filter">

    <button class="filter-btn active">
        🔴 Live
    </button>

    <button class="filter-btn">
        📅 Upcoming
    </button>

    <button class="filter-btn">
        ⭐ Favorites
    </button>

</section>

<button class="league active">Premier League</button>
<button class="league">La Liga</button>
<button class="league">Serie A</button>
<button class="league">Bundesliga</button>
<button class="league">Ligue 1</button>
<button class="league">Champions League</button>
<button class="league">Europa League</button>
<button class="league">CAF Champions League</button>
<button class="league">CAF Confederation
     Cup</button>

     <div class="matches-container">

{% for match in matches %}
    {% include "components/match_card.html" %}
{% endfor %}

</div>

<script src="{{ url_for('static', filename='js/language.js') }}"></script>
<script src="{{ url_for('static', filename='js/script.js') }}"></script>
<script src="{{ url_for('static', filename='js/dashboard.js') }}"></script>

</body>
</html>