<!DOCTYPE html>
<html lang="en">

<head>

<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<title>Withdraw</title>

<link rel="stylesheet"
href="{{ url_for('static', filename='css/style.css') }}">

</head>

<body>

<header class="topbar">

<a href="/account" class="back-btn">
← Back
</a>

<h2>Withdraw</h2>

</header>

<div class="page-content">

<div class="deposit-card">

<h3>Available Balance</h3>

<div class="balance-display">
{{ currency }} {{ balance }}
</div>

</div>

<form action="/withdraw" method="POST">

<div class="deposit-card">

<label>Registered Number</label>

<input
type="text"
name="phone"
value="{{ phone }}"
readonly>

<label>Amount</label>

<input
type="number"
name="amount"
placeholder="Enter amount"
required>

<button class="deposit-btn" type="submit">
Withdraw
</button>

</div>

</form>

</div>

</body>

</html>